@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/images/back-joke.jpg") center center;
    opacity: 0.6;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #202020;
}

p {
  font-size: 1rem;
  color: #202020;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-chiste {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding: 60px;
  text-align: center;
  box-shadow: 2px 1px 19px -7px rgba(0, 0, 0, 0.75);

  #btn {
    padding: 10px 20px;
    background-color: rgb(34, 214, 214);
    color: white;
    border: none;
    border-radius: 10px;
    &:hover {
      scale: 1.1;
    }
  }
}
